body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding-top: 250px;
  background: linear-gradient(to right, #4caf50, #2196f3);
}

h2 {
  color: #333;
}

h1 {
  color: #d32f2f;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #fff;
  border: 2px solid #333;
  padding: 60px;
  padding-top: 25px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(255, 235, 59, 1);
}

p {
  margin: 10px 0;
}

button {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0d47a1;
}

#title {
  width: 100px;
  height: 50px;
  background-color: white;
}

#result {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  border: 2px solid #333;
  background-color: yellowgreen;
  border-radius: 5px;
}

#reset {
  background-color: #d32f2f;
}

#reset:hover {
  background-color: #b71c1c;
}
